body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding-top: 4rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 1em;
  align-items: baseline;
  padding: 1rem 2rem;
  background: white;
  z-index: 10;
  margin-bottom: 2rem;  /* Add margin below header */

}

label {
  margin-left: auto; /* Pushes the slider to the right */
}

#time-slider {
  width: 200px; /* Adjust width as needed */
  cursor: pointer;
}

time {
  display: block; /* Makes it a block element */
  text-align: left; /* Centers the text */
  font-weight: bold;
}

#any-time {
  display: block;
  text-align: right;
  font-style: italic;
  color: gray;
}
